server {

  listen 80;
  
  # replace this with your Solr host..
  server_name {{ server_name }};

  location / {
    return 404;
  }
  
  # create a location block for each handler you'd like to whitelist
  location /version {
  
    # Only allow GET requests
    limit_except GET {
      deny all;
    }

    proxy_pass http://localhost:9998;
    
    # Some shared proxy settings
    include /etc/nginx/conf.d/tika_proxy.conf;
  }

  location /tika {
  
    # Only allow PUT requests
    limit_except PUT {
      deny all;
    }

    proxy_pass http://localhost:9998;
    
    # Some shared proxy settings
    include /etc/nginx/conf.d/tika_proxy.conf;
  }
  
}
